[Desktop Entry]
Type=Application
Name=Starsector
Icon=com.fractalsoftworks.Starsector
Exec=/app/startup_starsector.sh
Categories=Game;
StartupWMClass=Starsector
